#-----------------------------------------------------------------------------
# This file lists object as aggregates, functions, and operators are allowed
# to push down to the remote server.  Each entry should be on its line and
# consists of two columns: the first is object type as ROUTINE (for functions,
# aggregates, and procedures) or OPERATOR, and the second column is optionally
# schema-qualified object names with their arguments.  The exact form of the
# second column can be formatted using the following query:
#
# For routines:
#
# SELECT pronamespace::regnamespace || '.' || oid::regprocedure FROM pg_proc
# 	WHERE proname = '<routine_name>'
#
# And for operator:
#
# SELECT oprnamespace::regnamespace || '.' || oid::regoperator FROM pg_operator
# 	WHERE oprname = '<operator_name>'
#
# Note: To identify objects uniquely, the name and/or its argument must be
# schema-qualified.
#-----------------------------------------------------------------------------
ROUTINE pg_catalog.sum(bigint)
ROUTINE pg_catalog.sum(smallint)
ROUTINE pg_catalog.sum(integer)
ROUTINE pg_catalog.sum(real)
ROUTINE pg_catalog.sum(double precision)
ROUTINE pg_catalog.sum(numeric)
ROUTINE pg_catalog.avg(bigint)
ROUTINE pg_catalog.avg(smallint)
ROUTINE pg_catalog.avg(integer)
ROUTINE pg_catalog.avg(real)
ROUTINE pg_catalog.avg(double precision)
ROUTINE pg_catalog.avg(numeric)
ROUTINE pg_catalog.min(bigint)
ROUTINE pg_catalog.min(smallint)
ROUTINE pg_catalog.min(integer)
ROUTINE pg_catalog.min(real)
ROUTINE pg_catalog.min(double precision)
ROUTINE pg_catalog.min(numeric)
ROUTINE pg_catalog.max(bigint)
ROUTINE pg_catalog.max(smallint)
ROUTINE pg_catalog.max(integer)
ROUTINE pg_catalog.max(real)
ROUTINE pg_catalog.max(double precision)
ROUTINE pg_catalog.max(numeric)
ROUTINE pg_catalog.count()
ROUTINE pg_catalog.count("any")
ROUTINE pg_catalog.rank()
ROUTINE pg_catalog.rank("any")
ROUTINE pg_catalog.percentile_cont(double precision,double precision)
ROUTINE pg_catalog.percentile_cont(double precision[],double precision)
ROUTINE pg_catalog.stddev(bigint)
ROUTINE pg_catalog.stddev(integer)
ROUTINE pg_catalog.stddev(smallint)
ROUTINE pg_catalog.stddev(real)
ROUTINE pg_catalog.stddev(double precision)
ROUTINE pg_catalog.stddev(numeric)
ROUTINE pg_catalog.length(text)
ROUTINE pg_catalog.length(character)
ROUTINE pg_catalog.lower(text)
ROUTINE pg_catalog.upper(text)
ROUTINE pg_catalog.floor(numeric)
ROUTINE pg_catalog.floor(double precision)
ROUTINE pg_catalog.sqrt(numeric)
ROUTINE pg_catalog.sqrt(double precision)
ROUTINE pg_catalog.mod(integer,integer)
ROUTINE pg_catalog.mod(numeric,numeric)
ROUTINE pg_catalog.mod(smallint,smallint)
ROUTINE pg_catalog.mod(bigint,bigint)
ROUTINE pg_catalog.float8(numeric)
ROUTINE pg_catalog.float8(smallint)
ROUTINE pg_catalog.float8(integer)
ROUTINE pg_catalog.float8(bigint)
ROUTINE pg_catalog.int4(numeric)
ROUTINE pg_catalog.int4(smallint)
ROUTINE pg_catalog.int4(double precision)
ROUTINE pg_catalog.int4(bigint)
ROUTINE pg_catalog."numeric"(bigint)
ROUTINE pg_catalog."numeric"(integer)
ROUTINE pg_catalog."numeric"(double precision)
ROUTINE pg_catalog."numeric"(smallint)
OPERATOR pg_catalog.=(integer,integer)
OPERATOR pg_catalog.=(text,text)
OPERATOR pg_catalog.=(smallint,integer)
OPERATOR pg_catalog.=(bigint,integer)
OPERATOR pg_catalog.=(numeric,numeric)
OPERATOR pg_catalog.=(timestamp without time zone,timestamp without time zone)
OPERATOR pg_catalog.=(boolean,boolean)
OPERATOR pg_catalog.>(integer,integer)
OPERATOR pg_catalog.>(text,text)
OPERATOR pg_catalog.>(smallint,integer)
OPERATOR pg_catalog.>(bigint,integer)
OPERATOR pg_catalog.>(numeric,numeric)
OPERATOR pg_catalog.>(boolean,boolean)
OPERATOR pg_catalog.>(timestamp without time zone,timestamp without time zone)
OPERATOR pg_catalog.<(integer,integer)
OPERATOR pg_catalog.<(text,text)
OPERATOR pg_catalog.<(smallint,integer)
OPERATOR pg_catalog.<(smallint,smallint)
OPERATOR pg_catalog.<(bigint,integer)
OPERATOR pg_catalog.<(double precision,double precision)
OPERATOR pg_catalog.<(numeric,numeric)
OPERATOR pg_catalog.<(character,character)
OPERATOR pg_catalog.<(bigint,bigint)
OPERATOR pg_catalog.<(boolean,boolean)
OPERATOR pg_catalog.<(timestamp without time zone,timestamp without time zone)
OPERATOR pg_catalog.>=(integer,integer)
OPERATOR pg_catalog.>=(text,text)
OPERATOR pg_catalog.>=(smallint,integer)
OPERATOR pg_catalog.>=(bigint,integer)
OPERATOR pg_catalog.>=(numeric,numeric)
OPERATOR pg_catalog.>=(timestamp without time zone,timestamp without time zone)
OPERATOR pg_catalog.<=(integer,integer)
OPERATOR pg_catalog.<=(text,text)
OPERATOR pg_catalog.<=(smallint,integer)
OPERATOR pg_catalog.<=(bigint,integer)
OPERATOR pg_catalog.<=(numeric,numeric)
OPERATOR pg_catalog.<=(timestamp without time zone,timestamp without time zone)
OPERATOR pg_catalog.<=(pg_catalog.date,pg_catalog.date)
OPERATOR pg_catalog.<>(integer,integer)
OPERATOR pg_catalog.<>(text,text)
OPERATOR pg_catalog.<>(smallint,integer)
OPERATOR pg_catalog.<>(bigint,integer)
OPERATOR pg_catalog.<>(numeric,numeric)
OPERATOR pg_catalog.<>(timestamp without time zone,timestamp without time zone)
OPERATOR pg_catalog.%(bigint,bigint)
OPERATOR pg_catalog.%(smallint,smallint)
OPERATOR pg_catalog.%(integer,integer)
OPERATOR pg_catalog.%(numeric,numeric)
OPERATOR pg_catalog.*(bigint,bigint)
OPERATOR pg_catalog.*(smallint,smallint)
OPERATOR pg_catalog.*(integer,integer)
OPERATOR pg_catalog.*(numeric,numeric)
OPERATOR pg_catalog.*(bigint,integer)
OPERATOR pg_catalog.+(bigint,bigint)
OPERATOR pg_catalog.+(smallint,smallint)
OPERATOR pg_catalog.+(integer,integer)
OPERATOR pg_catalog.+(numeric,numeric)
OPERATOR pg_catalog.-(bigint,bigint)
OPERATOR pg_catalog.-(smallint,smallint)
OPERATOR pg_catalog.-(integer,integer)
OPERATOR pg_catalog.-(numeric,numeric)
OPERATOR pg_catalog.~~(text,text)
OPERATOR pg_catalog.~~(character,text)
OPERATOR pg_catalog./(bigint,bigint)
OPERATOR pg_catalog./(smallint,smallint)
OPERATOR pg_catalog./(integer,integer)
OPERATOR pg_catalog./(numeric,numeric)
